.imagem
{
  height: 400px;
  width: 100%;
  background-image: url("no_image.png");
  background-position: center;
  background-size: cover;
  background-color: white;
}

body
{
  background-color:ghostwhite;
  color: white;
}

.nav-wrapper
{
  background-color: black;
}

.material-icons
{
   margin-left: 10px;
   vertical-align: bottom;
   font-size: 25px;
}